<div class="menuContainerContent classMenu">
    <div class="menuContainerTitle">Class Navigation</div>
        <ul>
            <li><span class='parentContainer'>{+new Link().toFile("index.html").withText("<span>All Classes</span>")+}</span></li>
            <li><span class='parentContainer'>{+new Link().toFile("index.html").withText("<span>API</span>")+}</span></a>
                {!
                         var itemMap = {nameSpaceSymbol : null, subSymbols : {}};
                         for(var i in data){
                             var item = data[i];
                             if(item.alias != "_global_"){
                                 var curr = itemMap;
                                 var parts = item.alias.split(".");
                                 for(var i in parts){
                                     var part = parts[i];
                                     curr = curr.subSymbols;
                                     if(!curr[part]){
                                         curr[part] = {nameSpaceSymbol : null, subSymbols : {}};

                                     }
                                     curr = curr[part];
                                 }
                                 curr.nameSpaceSymbol = item;
                             }
                         }

                         var createItems = function (map){
                             var inited = false, ret = "";
                             for(var i in map){
                                 !inited && (inited= true) && (ret += "<ul>");
                                 var item = map[i];
                                 var subText = createItems(item.subSymbols);
                                 if(subText){
                                      if(item.nameSpaceSymbol){
                                                 ret += "<li class='parent'><span class='parentContainer'>"+ new Link().toClass(item.nameSpaceSymbol.alias).withText(i) + "</span>" + subText + "</li>";
                                             }
                                             else{
                                                            ret += "<li class='parent'><span class='parentContainer'><a href='#'>" + i + "</a></span>" + subText + "</li>";
                                                     }
                                 }else if(item.nameSpaceSymbol){
                                     ret += "<li><span class='nodeContainer'>"+ new Link().toClass(item.nameSpaceSymbol.alias).withText(i) + "</span></li>";
                                 }
                             }
                             if(inited){
                                 ret += "</ul>";
                             }
                             return ret;

                         };
                         output += createItems(itemMap.subSymbols);
                !}

            </li>
            <li><span class='parentContainer'>{+new Link().toFile("files.html").withText("<span>File</span>")+}</span></li>
</ul>
</div>
</div>